

.infopanel {
    display: flex;
    text-decoration: none;
    padding: 20px 0;
    transition: 0.5s;

}

.infopanel img {
    border-radius:  50px;
    border: 2px solid #2BC2F9;

}

.infopanel_title  {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding-left: 10px;
    font-family: 'Open Sans', sans-serif;
    color: black;
}

.infopanel_title b, span {
    text-decoration: none;
}

.infopanel:hover {
    /*background-color: white;*/
    padding-left: 30px;
}


.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    width: 900px;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popupgroup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 60%;
    position: relative;
    transition: all 5s ease-in-out;
}
.popupgroup .close {
    position: absolute;
    top: 0px;
    right: 5px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
    position: absolute;
    top: 0px;
    right: 5px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: #06D85F;
}
.popup .content {
    max-height: 30%;
    overflow: auto;
}

@media screen and (max-width: 700px){
    .box{
        width: 70%;
    }
    .popup{
        width: 70%;
    }
}

.select-field{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
}

input.input-field {
    width: 250px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
}

input.select-field {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
}

label{
    display: block;
    margin: 0px 0px 15px 0px;
}

label > span{
    width: 100px;
    font-weight: bold;
    float: left;
    padding-top: 8px;
    padding-right: 5px;
}

.acceptButton {
    background: #EA7B00;
    color: #fff;
}

.wrapperNearby {
    display:flex;
    justify-content: center;
    align-items: center;
    /*height: 100vh;*/

}
.left, .right {
    background: url(./components/main/chatsblock/img/toRight.png) no-repeat;
    background-size: auto;
    height: 50px;
    width: 35px;
    /*   background: red; */
    position: relative;
    transition: 0.2s;
    z-index: 110;
    margin-top: -30px;
    background-position: center;


}

.left:hover {
    right: 2px;
}

.right:hover {
    left: 2px;
}

.left {
    transform: rotate(180deg);
    right: 0;
}
.right{
    left: 0;
}

.sliderWrapper {
    /*width: 300px;*/
    position: relative;

    /*   border: 2px solid red; */

    overflow-x: hidden;
    overflow-y: hidden;
}

.slider{
    display: flex;
    top:10px;
    justify-content: start;
    transition: 1s;
    position: relative;
    z-index: 0;
    margin-left: calc(50% - 40px);
    left:0;
    /*   background:red; */


}

.slider a {
    font-size: 13px;
    line-height: 1;
    width: 80px;
    min-width: 80px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    color: black;
    flex-direction: column;
    overflow:hidden;
    text-align: center;
    text-decoration: none;
    transition:0.5s;
}

.slider img {
    margin-bottom: 5px;
    border-radius: 70%;
    object-fit: cover;
    border: 2px solid rgba(0, 123, 255, 1);
    box-shadow: 0 0 13px rgba(0, 123, 255,0.5);
}

.activeNearby:hover {
    background: #e7e7e7;
}

.activeNearby {
    transform: scale(1.1);
    /*   background-color:red; */
    transition:0.5s;
}
