style
    include infopanel.css

a(href="#popup1" class="infopanel")
    div(class='infopanel_img')

        img(src="components/main/chatsblock/infopanel/header.png", width='50' height='50')
        span(class="stateLabel")
    div(class='infopanel_title')
        b Oleg losev
        span Кто рядом с вами?
a(class="create channel" href="#popup2") Создание группы

div(id="popup1" class="overlay")
    div(class="popup") Информация о пользователе
        a(class="close" href="#") x
        div(class="avatar") AVATAR HERE
        div(class='fullname')
        div(class='firstname')
        div(class='lastname')
        div(class='bio')


div(id="popup2" class="overlay")
    div(class="popupgroup") Создание нового канала
        a(class="close" href="#") x
        div()
            label
            | Название группы
            input(class="input-field" id="namegroup" type="text" placeholder="Введите название группы")
        div()
            label
            | Описание группы
            input(class="input-field" id="description" type="text" placeholder="Введите краткое описание группы" width='60', align='20')
        div()
            label
            | Тип группы
            select(class ="select-field" id="grouptype" name="grouptype")
                option(disabled="true") Выберите тип группы
                option(value="chat") чат
                option(value="channel") канал
        div()
            label
            | Тип подписки
            select(class="select-field" id="substype" name="substype")
                option(disabled="true") Выберите тип подписки
                option(value="free") бесплатный
                option(value="unfree") платный
            div(class="token" hidden="true")
                label
                | Токен:
                input(class ="input-field" type="text" placeholder="введите ")

        button(class="acceptButton") Создать



        //
        //<div class="form-style-2">
        //<div class="form-style-2-heading">Provide your information</div>
        //<form action="" method="post">
        //<label for="field1"><span>Name <span class="required">*</span></span><input type="text" class="input-field" name="field1" value="" /></label>
        //<label for="field2"><span>Email <span class="required">*</span></span><input type="text" class="input-field" name="field2" value="" /></label>
        //<label><span>Telephone</span><input type="text" class="tel-number-field" name="tel_no_1" value="" maxlength="4" />-<input type="text" class="tel-number-field" name="tel_no_2" value="" maxlength="4"  />-<input type="text" class="tel-number-field" name="tel_no_3" value="" maxlength="10"  /></label>
        //<label for="field4"><span>Regarding</span><select name="field4" class="select-field">
        //<option value="General Question">General</option>
        //<option value="Advertise">Advertisement</option>
        //<option value="Partnership">Partnership</option>
        //</select></label>
        //<label for="field5"><span>Message <span class="required">*</span></span><textarea name="field5" class="textarea-field"></textarea></label>
        //
        //<label><span>&nbsp;</span><input type="submit" value="Submit" /></label>
        //</form>
        //</div>