//style
//    include infopanel.css
a(href="#" class="infopanel")
    div(class='infopanel_img')

        img(src=avatar, width='50' height='50')
        span(class="stateLabel")
    div(class='infopanel_title')
        b #{name}
        span(data-translate-key="PEOPLE_NEARBY") Кто рядом с вами?
