git comm# Node.js package manager
node_modules

.eslintignore
.idea
.map
.npmignore
dist/
updates/
downloads/
release-builds/
Makefile
package-lock.json
yarn.lock
yarn-error.log
dev-app-update.yml
ormconfig.json

not_for_git/
.git-old/

src/css/*

*.js
*.js.map
!src/index.js
src/env_config*
