.dialogs {

    width: 300px;
    background-color: #F3F3F3;
    height: 100vh;
    animation-direction: revert;
    border-right: 1px solid #d0d0d0;
    overflow: hidden;


}

.dialogsHeader {
    padding: 0 20px;
}

.men {
    position: relative;
    height: 100vh;
    /*overflow: hidden;*/
    display: flex;
    flex-direction: column;
    animation-direction: revert;
    border-right: 1px solid #d0d0d0;


    /*position: absolute;*/
    /*right: 0;*/


}

.chats_block_header_title {

    justify-content: center;
    background-image: url(src/components/chatsblock/infopanel/header.png);
    background-size: contain;
    height: 100%;
    background-repeat: no-repeat;

}

.chats_block_header_title {

    font-family: 'Open Sans', sans-serif;

}

.resize1 {
    width: 300px;
}

.showOnMap{
    background-image: url(./components/main/chatsblock/img/mapPoint.png);
    background-color: #BDBDBD;
    background-repeat: no-repeat;
    background-position: 55px center;
    border: 0;
    height: 33px;
    background-size: 18px;
    width: 100%;
    border-radius: 10px;
    color: #fff;
    font-size: 12px;
    outline: none;
    /*cursor: pointer;*/
}