div.myTokens
    div.myTokensHeader.d-flex.justify-content-start
        input.searchTokens.form-control(placeholder='Search')
        button.btn.btn-primary.ml-4(type="button") Block

    table.table.table_blacklist
        tbody
            tr
                td.table__avatar
                    img(src='img/wallet/ava1.png', width='40', height='40')
                td #{name} Alexandr Gordon
                td.table__unblock
                    a(href="#" data-toggle="tooltip" data-placement="auto top" title="Unblock")
                        include ../../../img/icons/block-user.svg
            tr
                td.table__avatar
                    img(src='img/wallet/ava1.png', width='40', height='40')
                td #{name} Alexandr Gordon
                td.table__unblock
                    a(href="#" data-toggle="tooltip" data-placement="auto top" title="Unblock")
                        include ../../../img/icons/block-user.svg
            tr
                td.table__avatar
                    img(src='img/wallet/ava1.png', width='40', height='40')
                td #{name} Alexandr Gordon
                td.table__unblock
                    a(href="#" data-toggle="tooltip" data-placement="auto top" title="Unblock")
                        include ../../../img/icons/block-user.svg
            tr
                td.table__avatar
                    img(src='img/wallet/ava1.png', width='40', height='40')
                td #{name} Alexandr Gordon
                td.table__unblock
                    a(href="#" data-toggle="tooltip" data-placement="auto top" title="Unblock")
                        include ../../../img/icons/block-user.svg
