style
    include settings.css
div.settingsLeft
    //div.userBar
    //    include infopanel.pug
    div.settingsInfo
        table
            tbody
                tr
                    td Total ETH
                    th 10000
                tr
                    td ETH in tokens
                    th 23
                tr
                    td Free ETH
                    th 123


    div.addToBalance.text-center
        .btn.badge-primary.balanceBtn Add to Balance

    ul#optionsList.p-0.m-0
        li
            a(href='#')
                b.my-2 Settings
                img.rotate(src='components/main/modal_popup/img/arrow.png')
            ul()
                li
                    label
                        input(type='checkbox', name='option3', value='a3')
                        | Allow screenshots of your messages
                        span.checkmark

                li
                    label
                        input(type='checkbox', name='option3', value='a3')
                        | Show status
                        span.checkmark

                li
                    label
                        input(type='checkbox', name='option3', value='a3')
                        | Visibility in the “People nearby”
                        span.checkmark

                li
                    label
                        input(type='checkbox', name='option3', value='a3')
                        | Visibility in the “Nearby channels”
                        span.checkmark



    div.settingsMenu
        ul
            b.my-2.d-block Basic options

            li.active_settings(data-name="settings_identification")
                a(href='#')
                    img(src='components/main/settings/img/ident.png', width='40', height='40')
                    p Identification

            li(data-name="settings_mySubscriptions")
                a(href='#')
                    img(src='components/main/settings/img/myPurSub.png', width='40', height='40')
                    p My subscriptions

            li(data-name="settings_history")
                a(href='#')
                    img(src='components/main/settings/img/relSub.png', width='40', height='40')
                    p Released subscriptions

            li(data-name="settings_subscriptions")
                a(href='#')
                    img(src='components/main/settings/img/blackList.png', width='40', height='40')
                    p Black list

            li(data-name="settings_services")
                a(href='#')
                    img(src='components/main/settings/img/myStickers.png', width='40', height='40')
                    p My stickers

            li(data-name="settings_services")
                a(href='#')
                    img(src='components/main/settings/img/faq.png', width='40', height='40')
                    p Instructions & FAQ

            li(data-name="settings_services")
                a(href='#')
                    img(src='components/main/settings/img/devices.png', width='40', height='40')
                    p Connected devices & sessions

            li(data-name="settings_services")
                a(href='#')
                    img(src='components/main/settings/img/support.png', width='40', height='40')
                    p Write to tech support
div.p-3.settingsRight
    include settings_identification
script
    include settings.js
