style
    include settings.css

.container.settings_identification
    .row.text-center.justify-content-center
        .col-md-6
            b Change the Key

    .row.text-center.justify-content-center
        .col-md-6.text-left
            p Enter 12 words of backup phrase you have now to restore your account

    .row.text-center.justify-content-center.mb-3
        .col-md-6
            textarea(rows='5' placeholder='Enter passphrase' )

    .row.text-center.justify-content-center
        .col-md-6.text-left
            p Enter 12 new words of backup phrase you have now to restore your account or generate new one with a button below.

    .row.text-center.justify-content-center.mb-3
        .col-md-6
            textarea(rows='5' placeholder='Enter passphrase')

    .row.text-center.justify-content-center
        .col-md-6
            button.generateBtn Generate

    .row.text-center.justify-content-center
        .col-md-6.text-center
            | !Do not forget to save the phrase
            | on paper to avoid loss!

    .row.text-center.justify-content-center
        .col-md-6
            b Change your PIN

    .row.text-center.justify-content-center.mb-3
        .col-md-7
            textarea(rows='5')


