table.table.table_01(style='    ')
    thead
        tr
            th(scope='col')
            th(scope='col') Token name
            //th(scope='col') Status
            th(scope='col') Contract address
            th(scope='col') Total supply
            th(scope='col') Link Info
    tbody#tokens_table
        include token
        //tr
        //    th(scope='row')
        //        img(src=avatar width='40' height='40')
        //    td Mark
        //    td Otto
        //    td @mdo
        //    td @mdo
        //    td @mdo
        //tr
        //    th(scope='row')
        //        img(src=avatar width='40' height='40')
        //    td Jacob
        //    td Jacob
        //    td Jacob
        //    td Thornton
        //    td @fat
        //tr
        //    th(scope='row')
        //        img(src=avatar width='40' height='40')
        //    td Larry
        //    td the Bird
        //    td @twitter
        //    td @twitter
        //    td @twitter


