.wrapperNearby
    a.leftButton(href='#')
    .sliderWrapper
        .slider
            a.element(href='#')
                img.sliderImage(src='https://img.gazeta.ru/files3/437/11645437/Musk-pic685-685x390-39492.png', alt='', width='60' height='60')
                | Elon Musk
            a.element(href='#')
                img.sliderImage(src='https://png.icons8.com/color/1600/avatar.png', alt='', width='60' height='60')
                | Maxim89
            a.element(href='#')
                img.sliderImage(src='https://avatarko.ru/img/kartinka/1/multfilm_gomer.png', alt='', width='60' height='60')
                | Gomer
            a.element(href='#')
                img.sliderImage(src='https://banner2.kisspng.com/20180525/qu/kisspng-clip-art-5b08be927cb923.3927898615272997305109.jpg', alt='', width='60' height='60')
                | Monashka
            a.element(href='#')
                img.sliderImage(src='https://pp.userapi.com/c850132/v850132715/d406/XTbYNnmo3r4.jpg', alt='', width='60' height='60')
                | Christopher Robin
            //a.element(href='#')
            //    img.sliderImage(src='https://cdn2.hexlet.io/attachments/ff5eaf72306e796c53a8d6e43125babb05a466ec/store/fill/185/185/1a5baba85ab3caf9805859538b2e4416cf4c147d5741159903795bdfb2dd/avatar.png', alt='', width='60' height='60')
            //    | boy
            //a.element(href='#')
            //    img.sliderImage(src='https://53news.ru/images/images/2017/4/2ZXOgeKHM394Wceyb7XJCyIfCG2Txf9Q.jpg', alt='', width='60' height='60')
            //    | PUTIN V.V.
            //a.element(href='#')
            //    img.sliderImage(src='https://st.navalny.com/media/cache/63/48/63485ff83e403731f699323134a4b9ef.jpg', alt='', width='60' height='60')
            //    | Navalny channel
            //a.element(href='#')
            //    img.sliderImage(src='https://s5.cdn.teleprogramma.pro/wp-content/uploads/2018/06/371fda9f92c68e4845d4fb92a8b4cff0.jpg', alt='', width='60' height='60')
            //    | bitch
            //a.element(href='#')
            //    img.sliderImage(src='https://s5.cdn.teleprogramma.pro/wp-content/uploads/2018/06/371fda9f92c68e4845d4fb92a8b4cff0.jpg', alt='', width='60' height='60')
            //    | bitch
    a.rightButton(href='#')
div(style="padding: 0 0 0 7px;")
    input(type="button" class='showOnMap' value="Show On a Map")

style
    include ./nearby.css
script
    include ./nearby.js