//.wrapperNearby
//    a.leftButton(href='#')
//    .sliderWrapper
//        .slider
//            a.element(href='#')
//                img.sliderImage(src='https://img.gazeta.ru/files3/437/11645437/Musk-pic685-685x390-39492.png', alt='', width='60' height='60')
//                | Elon Musk
//            a.element(href='#')
//                img.sliderImage(src='https://png.icons8.com/color/1600/avatar.png', alt='', width='60' height='60')
//                | Maxim89
//            a.element(href='#')
//                img.sliderImage(src='https://avatarko.ru/img/kartinka/1/multfilm_gomer.png', alt='', width='60' height='60')
//                | Gomer
//            a.element(href='#')
//                img.sliderImage(src='https://banner2.kisspng.com/20180525/qu/kisspng-clip-art-5b08be927cb923.3927898615272997305109.jpg', alt='', width='60' height='60')
//                | Monashka
//            a.element(href='#')
//                img.sliderImage(src='https://pp.userapi.com/c850132/v850132715/d406/XTbYNnmo3r4.jpg', alt='', width='60' height='60')
//                | Christopher Robin
//    a.rightButton(href='#')
//script
//    include ./nearby.js

//
//.btn_create_chat(data-id="menu_create_chat")
//    .btn_create +
//    .btn_create_chat_text Create channel
