style
    include css1.css
.com_son
    .overlay
    .center-block#cs_wrap
        .container
            img.image-align(src='components/main/coming_soon/logo.png')
            .cs_title
                span We are
                br
                | 			Reaching For
                span.yellow  The Moon.
            .cs_p
                | Our messenger
                strong  under construction
                |  but we are working hard
                br
                |  to create a new and fresh features.
            #defaultCountdown
            .cs_f(action='#')

