a(class="infopanel")
    div(class='infopanel_img')
        img(src=avatar, width='50' height='50')
        //span(class="stateLabel")
    div(class='infopanel_title')
        b #{name}
        span #{eth_balance} Coin.
//a(href="#" class="infopanel_qr_a")
//    div(class='infopanel_qr')
//        img(src='components/main/wallet/img/qr.png', width='50' height='50')
.clx
