
.walletRight{
    flex: 1;
    background-color: #F3F3F3;
    padding: 20px 20px;
}

.walletRight td, th, thead th {
    border-top: none!important;
    border-bottom: none!important;

}


.walletRight tbody {
    background-color: white;

}

.walletRight thead tr {
    line-height: 0;
    font-size: 13px;
}

.walletRight tr {
    line-height: 35px;
}
.walletRight table {
    border-collapse: separate;
    border-spacing: 0px 15px;
}


.walletRight tr td:first-child,
.walletRight tr th:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.walletRight tr td:last-child,
.walletRight tr th:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.searchTokens{
    background-image: url(components/main/modal_popup/img/search.png);
    background-repeat: no-repeat;
    background-position: 15px center;
    border: 0;
    height: 35px;
    box-shadow: 0 0 27px rgba(97, 97, 97, 0.1);
    border: none;
    border-radius: 29px;
    padding-left: 55px;
    outline: none;
    width: 375px;
}

.myTokensHeader{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.myTokensHeader span {
    color: #909090;
    font-size: 14px;
}
