.transfer input {
    width: 150px;
    border: none;
    background-color: #F7F7F7;
    border-radius: 12px;
    padding: 0 10px;
}

.transfer table a {
    color: #2BC2F9;
}

.sendTokenButton {
    background-color: #2BC2F9;
    width: 90px;
    border-radius: 10px;
    color: white;
}

.trasfer_in input {
    height: 35px;
}

.trasfer_in th input {
    width: 240px;
}

.trasfer_in td input {
    width: 130px;
}

.trasfer_th th {
    padding-left: 15px;
}
