.walletLeft{
    width: 300px;
    padding: 20px;
    background-color: #F3F3F3;
}

.walletInfo {
    margin: 20px 0px;
}
.walletMenu ul {
    list-style: none;
    margin: 0;
    padding: 20px 10px;
}

.walletMenu ul li a {
    height: 57px;
    display: flex;
    align-items: center;
    padding: 0 20px 0 20px;
    color: black;
    text-decoration: none;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    transition: all 0.1s ease;
    overflow: hidden;
    position: relative;
}

.walletMenu ul li p {
    margin: 0;
    padding: 0 10px;
}


.walletMenu a:hover {
    border-radius: 8px;
    background-color: #2BC2F9;
    color: #ffffff;
}

.balanceBtn{
    background-color: #2BC2F9;
    border-radius: 10px;
    margin: 20px 0;
    padding: 6px 30px;
}

.userBar img {
    border: 1px solid  #2BC2F9 ;
    border-radius: 100%;
}

.userBar span{

    margin-left: 10px;
    color: black;

}

