div.myTokens
    div.myTokensHeader
        //span 1 names of token
        input.searchTokens.float-right.form-control(placeholder='search')

    //.loader
    //    .dot.dot1
    //        |
    //        .dot.dot2
    //        |
    //        .dot.dot3
    //        |
    //        .dot.dot4

