style
    include myTokens.css
div.myTokens
    div.myTokensHeader
        span 1 names of token
        input.searchTokens.float-right(placeholder='search')
    table.table(style='    ')
        thead
            tr
                th(scope='col')
                th(scope='col') Token name
                th(scope='col') Label
                //th(scope='col') Status
                th(scope='col') Contract Address
                th(scope='col') You have
                th(scope='col') Total Supply
        tbody#tokens_table
            //tr
            //    th(scope='row')
            //        img(src=avatar width='40' height='40')
            //    td Mark
            //    td Otto
            //    td @mdo
            //    td @mdo
            //    td @mdo
            //tr
            //    th(scope='row')
            //        img(src=avatar width='40' height='40')
            //    td Jacob
            //    td Jacob
            //    td Jacob
            //    td Thornton
            //    td @fat
            //tr
            //    th(scope='row')
            //        img(src=avatar width='40' height='40')
            //    td Larry
            //    td the Bird
            //    td @twitter
            //    td @twitter
            //    td @twitter


