div.myTokens.transfer
    table.table(style='    ')
        thead
            tr.trasfer_th
                th(scope='col') Send Moonshard tokens to
                th(scope='col') Value
                th(scope='col') Info
                th(scope='col') Send to All
        tbody
            tr.trasfer_in.t02
                th(scope='row')
                    input.form-control#sendTokenTo(placeholder='Enter the name or address' name='address' list="browsers" )
                    datalist#browsers
                        //input !{chats?chats:""}

                td
                    input.form-control(placeholder='How much?' name='amount')
                td
                    a(href='#') Add info
                td
                    .btn.btn-primary.sendTokenButton Send




