div.walletLeft
    div.userBar
        include infopanel.pug
    div.walletInfo
        table
            tbody
                //tr
                //    td Total ETH
                //    th 10000
                tr
                    td ETH in tokens
                    th 23
                tr
                    td Free ETH
                    th 123


    div.addToBalance.text-center
        button.btn.btn-primary.balanceBtn(type="button") Add to Balance

    div.walletMenu
        ul
            li.active_wallet
                button(type="button" data-name="wallet_token")
                    //img(src='img/wallet/first.png', width='40', height='40')
                    include ../../../img/wallet/icons/tokens.svg
                    p My Tokens
            li
                button(type="button" data-name="wallet_transfer")
                    //img(src='img/wallet/second.png', width='40', height='40')
                    include ../../../img/wallet/icons/transfer.svg
                    p Transfer
            li
                button(type="button" data-name="wallet_history")
                    //img(src='img/wallet/third.png', width='40', height='40')
                    include ../../../img/wallet/icons/history.svg
                    p Transaction history
            li
                button(type="button" data-name="wallet_subscriptions")
                    //img(src='img/wallet/fourth.png', width='40', height='40')
                    include ../../../img/wallet/icons/subscriptions.svg
                    p My subscriptions
            li
                button(type="button" data-name="wallet_services")
                    //img(src='img/wallet/fifth.png', width='40', height='40')
                    include ../../../img/wallet/icons/services.svg
                    p Services

div.walletRight.custom-scrollbar
    include wallet_token
script
    include wallet.js
