div(class='groups') dsfsdfdsf
    div(class='search')
        input(class='searchInput', placeholder='поиск')
    #style-11(class='chats scrollbar')
        ul(id='users_chats_box')
        //include ./imDialog
