div(class='groups12') dsfsdfdsf
    div(class='search')
        input(class='searchInput form-control', placeholder='поиск')
    #style-11(class='chats scrollbar')
        ul
        //include ./imDialog