div(class='groups') dsfsdfdsf
    div(class='search')
        input(class='searchInput form-control', data-name='group_search', placeholder='поиск')
    .chats.scrollbar.custom-scrollbar
        ul(id='users_chats_box')
        //include ./imDialog
