div(class='groups12') dsfsdfdsf
    div(class='search')
        input(class='searchInput form-control', placeholder='поиск')
    .chats.scrollbar.custom-scrollbar
        ul
        //include ./imDialog