style
    include chats.css
div(class='men')
    div(class='search')
        input(class='searchInput', placeholder='поиск групп')
    style
        //include settings.css
    div(class='settings')
        input(class='subscribeInput', placeholder='поиск людей')
        button(class='searchButton') запрос
    #style-11(class='chats scrollbar')
        ul(class="")
        //include ./imDialog