div(class='men')
    form#search_user_form(class='search' action="javascript:void(0);")
        //input.bl-hide.form-control.searchInput(placeholder='Search user', data-name='user_search' name="search_user")
        input.bl-hide-1.form-control.searchInput(placeholder='Search', data-name='group_search' name="search_chat")
        //.btn-add-old.bl-hide(data-id="add_new_user")
        .btn-add-old.bl-hide-1
        //.switch-div
        //    .switch-btn
        //script
        //    include search_chats.js
        //    include search_users.js
    .btn_create_chat.bl-hide-1(data-id="menu_create_chat")
        .btn_create +
        .btn_create_chat_text Create channel
<<<<<<< HEAD
<<<<<<< HEAD
    div(class='chats scrollbar' id="style-11")
=======
    div(class='chats custom-scrollbar' id="style-11")
>>>>>>> remotes/origin/branch-145
=======
    div(class='chats custom-scrollbar' id="style-11")
>>>>>>> remotes/origin/branch-145
        ul.chats__list !{chats?chats:""}

    .updates_block(style="position: absolute; height: 20px; bottom: 0; background: blue")
