style
    include chats.css
div(class='men')
    form#search_user_form(class='search' action="javascript:void(0);")
        case state
            when "menu_chats"
                input(class='searchInput', placeholder='поиск групп' name="search_chat")
                script
                    include search_chats.js
            default
                input(class='searchInput', placeholder='поиск людей' name="search_user")
                input(type="submit" class='submit_searchInput' value="add")
                script
                    include search_users.js
    div(class='chats scrollbar' id="style-11")
        ul !{chats?chats:""}


