.modal{
    //@extend .custom-scrollbar;

    &.fade .modal-dialog {
        transition: transform 0.5s ease-out;
        transform: translate(0, 25%);
    }

    &.show .modal-dialog {
        transition: transform 0.5s ease-out;
        transform: translate(0, 0);
    }

    &-content{
        background-color: $cf;
        //height: auto;
        overflow: hidden;
        border-radius: 5px;

        .ss-wrapper{
            position: relative;

            &:before{
                content: '';
                @include position(absolute, auto 0 0 0);
                @include gradient-y(rgba($cf, 0), $cf);
                height: 1.8rem;
                z-index: 1;
            }
        }
    }

    &-dialog{
        margin: 6rem auto 3rem;
        display: flex;
        align-items: center;
        min-height: calc(100% - (6rem + 3rem));

        @include media-breakpoint-up(sm){
            margin: 6rem auto;
            min-height: calc(100% - (6rem * 2));
        }

        //&-centered {
        //    //min-height: auto;
        //    min-height: calc(100% - (4rem + 1.75rem));
        //
        //    @include media-breakpoint-up(sm) {
        //        //min-height: auto;
        //        min-height: calc(100% - (4rem * 2));
        //    }
        //}
    }

    &-title{
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &-header{
        position: relative;
        border-bottom: 0;
        display: block;

        .custom-control-horizontal{
            margin: 1rem 0 0;

            + .custom-control-horizontal{
                margin-left: 1rem;
            }
        }

        .group {
            &-info {
                //display: flex;
                flex-wrap: nowrap;
                align-items: center;
                @include fz(14);

                * {
                    font-size: inherit;
                }

                .form-control {
                    &:disabled {
                        background-color: transparent;
                        border: none;
                        color: $brand-blue;
                        border-radius: 0;
                        box-shadow: none;
                        height: auto;
                        padding-top: 0;
                        padding-bottom: 0;
                    }
                }

                svg {
                    @include size(.6rem);
                }
            }

            &-notification{
                display: inline-flex;
                align-items: center;
                text-decoration: none;
                font-weight: 400;
                padding: 0;
                color: $brand-blue;

                &:hover{
                    color: $brand-blue;
                }

                &__notie{
                    display: none;
                    background-color: $cf;
                    border: 1px solid $brand-blue;
                    @include size(1.5rem);
                    color: $primary-text;
                    @include fz(14);
                    font-weight: 400;
                    border-radius: 50%;
                }

                &__icon {
                    flex-shrink: 0;
                    margin-right: 1rem;
                    position: relative;

                    svg {
                        @include size(1.5rem);

                        path {
                            fill: $brand-gray-400;
                        }
                    }

                    span{
                        @include position(absolute,null 0 0 null);
                    }

                    &_notie{

                        svg{

                            path{
                                fill: $brand-blue;
                            }
                        }

                        span{
                            display: block;
                        }
                    }
                }
            }
        }

        &_img{
            flex-direction: column;
            align-items: center;
            //padding-top: 3.5rem;
            padding: 2rem 2rem 1rem;

            .close{
                @include position(absolute, 0 .5rem null null);
                padding: .5rem;
                margin: 0;
            }
        }

        &__img{
            margin: 0 auto;
            @include size(5rem);
            //@include gradient-y($brand-blue, $brand-blue-100);
            //@include position(absolute, 0 null null 50%);
            line-height: 73px;
            border-radius: 50%;
            text-align: center;
            background-color: $brand-primary-300;
            //transform: translate(-50%,-50%);
            //box-shadow: 2px 2px 20px $brand-blue;

            svg{
                width: 3rem;
                path{
                    fill: $cf;
                }
            }

            img{
                @include size(100%);
            }
        }

        &__name{
            width: 100%;
            //margin: 0 auto;

            .form-control{
                text-align: center;
                &::placeholder{
                    text-align: center;
                }
            }

            .modal-title{
                //text-align: center;
            }
        }

        &__category{
        }
    }
    &-body{
        padding: 0 2rem;

        #token_row{
            label{
                @include fz(18);
                font-family: $ff-1;
                font-weight: 500;
            }
        }

        &_userinfo{
            .row{
                min-height: 40px;
                border-bottom: 1px solid $brand-gray-400;

                &:last-child{
                    border-bottom: 0;
                }
            }
        }
    }
    &-footer{
        border-top: none;
        justify-content: center;
        padding:1rem 2rem 2rem;

        .btn{
            min-width: 10em;

            + .btn {
                margin-left: 1rem;
            }
        }
    }
}

.crowdsale{
    padding-bottom: 1.5rem;

    &__num{
        @include size(24px);
        @include fz(18);
        color: rgba($primary-text,.5);
        border: 1px solid $brand-gray-400;
        flex-shrink: 0;
        text-align: center;
        line-height: 24px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        position: relative;
        background-color: $cf;
        transition: .2s ease;

        .crowdsale_focus &{
            background-color: $brand-blue;
            border-color: $brand-blue;
            color: $primary-text;
        }

        &:before{
            content: '';
            display: block;
            @include position(absolute, 100% 50% null null);
            transform: translate(50%,0);
            background-color: darken($cf,23%);
            @include size(2px,300%);

            .crowdsale:last-child &{
                display: none;
            }
        }
    }

    &__label{
        font-weight: 700;
        @include fz(14);
        margin-left: 1em;
        margin-bottom: 0;
        transition: .2s ease;
        color: rgba($primary-text,.5);
        padding: .6em 0;

        .crowdsale_focus &{
            color: $primary-text;
        }
    }

    &__helper{
        @include fz(12);
        transition: .2s ease;
        color: rgba($primary-text,.5);

        .crowdsale_focus &{
            color: $primary-text;
        }
    }
}

.copyButton{

    svg{
        height: 1.25rem;
    }
}

