style
    include chats.css
script(src="https://unpkg.com/navigo@6")

script
    //include getList.js
    //include routes.js
div(class='search')
    input(class='searchInput', placeholder='поиск')
#style-11(class='chats scrollbar')

    ul
