li
    a(id=' +value.jid+ ', href='#/user/" + value.jid + "', data-navigo='')
        img(src='./components/chatsblock/chats/img/mat_61911.jpg', width='40', height='40')
        span(class="stateLabel")
        p Name
