style
    include chats.css
div(class='men')
    div(class='search')
        input(class='searchInput', placeholder='поиск')
    style
        //include settings.css
    div(class='settings')
        input(class='searchInput', placeholder='поиск')
        button() запрос
    #style-11(class='chats scrollbar')
        ul(class="")
        //include ./imDialog