style
    include chats.css
div(class='men')
    div(class='search')
        input(class='searchInput', placeholder='поиск')
    #style-11(class='chats scrollbar')
        ul(class="")
        //include ./imDialog