//.dialogs {
//
//    width: 300px;
//    background-color: #F3F3F3;
//    height: 100vh;
//    animation-direction: revert;
//    border-right: 1px solid #d0d0d0;
//    overflow: hidden;
//
//
//}


.dialogs {

    min-width: 370px;
    max-width: 600px;
    position: absolute;
    top: 0; left: 0;
    bottom: 0;
    width: 300px;
    background-color: $cf;
    height: 100vh;
    animation-direction: revert;
    border-right: 1px solid #d0d0d0;
    overflow: hidden;
}

.messaging_block {
    margin-left: 370px;
    }

#resize01 {
    float: right;
    margin-right: 0;
    width: 5px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1;
    cursor: e-resize;
    top: 0;
    position: absolute;
    right: 0;
    z-index: 1000;
}

.dialogsHeader {
    //padding: 0 20px;
}

.men {
    position: relative;
    height: 100vh;
    /*overflow: hidden;*/
    display: flex;
    flex-direction: column;
    animation-direction: revert;
    /*border-right: 1px solid #d0d0d0;*/


    /*position: absolute;*/
    /*right: 0;*/


}

.chats_block_header_title {
    justify-content: center;
    height: 100%;
    background: url('#{$img}/chatblock/header.png') no-repeat;
    background-size: contain;
}

.chats_block_header_title {
    font-family: $ff-1;
}

.resize1 {
    width: 300px;
}

.showOnMap{
    @include size(100%, 33px);
    @include fz(12);
    background: url('#{$img}/chatblock/mapPoint.png') 55px center no-repeat $brand-gray-400;
    background-size: 18px;
    border: 0;
    border-radius: 10px;
    color: $cf;
}


.btn_create_chat{
    cursor: pointer;
    padding: 7px 20px;
    &:hover {
        background-color: rgba(43, 194, 249, 0.2);
    }
}

.btn_create{
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    border: 1px solid $brand-blue;
    border-radius: 37px;
    font-size: 28px;
    color: $brand-blue;
    margin-right: 10px;
}

.btn_create_chat_text{
    display: inline-block;
    color: $brand-blue;
    //&:hover {
    //text-decoration: underline;
    //}
}

.btn-add-old{
    //background: url('#{$img}/chatblock/search.svg') no-repeat;
    //width: 30px;
    //height: 27px;
    @include size(30px);
    position: absolute;
    right: 22px;
    cursor: pointer;

    span{
        @include position(absolute, 0 0 0 0);
        transition: .2s ease;
        display: block;

        svg{
            @include size(20px);
            @include position(absolute, 50% null null 50%);
            transform: translate(-50%, -50%);
        }

        &.search-icon{
            opacity: 1;
            visibility: visible;
        }
        &.delete-icon{
            opacity: 0;
            visibility: hidden;
        }
    }

    &.delete{

        span.delete-icon{
            opacity: .5;
            visibility: visible;
        }
        span.search-icon{
            opacity: 0;
            visibility: hidden;
        }
    }
}


.switch-btn {
    display: inline-block;
    @include size(40px,20px); /* ширина/высота переключателя */
    border-radius: 12px; /* радиус скругления */
    background: $cf; /* цвет фона */
    z-index: 1;
    margin: 0;
    padding: 0;
    cursor: pointer;
    position: relative;
    transition-duration: 300ms; /* анимация */
    border: 1px solid rgba($primary-text, .3);
    /*box-shadow: 4px 4px 20px rgba($brand-blue, .2);*/
    &::after {
        content: "";
        @include size(12px); /* высота кнопки / ширина кнопки */
        @include position(absolute, 3px null null 3px);
        border-radius: 18px; /* радиус кнопки */
        //background: $cf; /* цвет кнопки */
        transition-duration: 300ms; /* анимация */
        z-index: 2;
        background: $brand-blue;
    }
    &.switch-on {
        background: $cf;
        box-shadow: 4px 4px 20px rgba($brand-blue,.2); /* тень */
        &::after {
            left: 22px;
            background: $brand-blue;
        }
    }
}

.bl-hide {
  display: none;
}

.switch-div{
  margin-right: 20px;
}

.switch-btn {
  display: table;
  margin: auto;
}