//.dialogs {
//
//    width: 300px;
//    background-color: #F3F3F3;
//    height: 100vh;
//    animation-direction: revert;
//    border-right: 1px solid #d0d0d0;
//    overflow: hidden;
//
//
//}


.dialogs {

    min-width: 370px;
    max-width: 600px;
    position: absolute;
    top: 0; left: 0;
    bottom: 0;
    width: 300px;
    background-color: #F3F3F3;
    height: 100vh;
    animation-direction: revert;
    border-right: 1px solid #d0d0d0;
    overflow: hidden;
}

.messaging_block {
    margin-left: 370px;
}

#resize01 {
    float: right;
    margin-right: 0;
    width: 5px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1;
    cursor: e-resize;
    top: 0;
    position: absolute;
    right: 0;
}

.dialogsHeader {
    padding: 0 20px;
}

.men {
    position: relative;
    height: 100vh;
    /*overflow: hidden;*/
    display: flex;
    flex-direction: column;
    animation-direction: revert;
    /*border-right: 1px solid #d0d0d0;*/


    /*position: absolute;*/
    /*right: 0;*/


}

.chats_block_header_title {
    justify-content: center;
    height: 100%;
    background: url(#{$img}/chatblock/header.png) no-repeat;
    background-size: contain;
}

.chats_block_header_title {
    font-family: $ff-1;
}

.resize1 {
    width: 300px;
}

.showOnMap{
    @include size(100%, 33px);
    @include fz(12);
    background: url(#{$img}/chatblock/mapPoint.png) 55px center no-repeat $brand-gray-400;
    background-size: 18px;
    border: 0;
    border-radius: 10px;
    color: $cf;
}
