//.dialogs {
//
//    width: 300px;
//    background-color: #F3F3F3;
//    height: 100vh;
//    animation-direction: revert;
//    border-right: 1px solid #d0d0d0;
//    overflow: hidden;
//
//
//}


.dialogs {

    min-width: 370px;
    max-width: 600px;
    position: absolute;
    top: 0; left: 0;
    bottom: 0;
    width: 300px;
    background-color: $cf;
    height: 100vh;
    animation-direction: revert;
    border-right: 1px solid #d0d0d0;
    overflow: hidden;
}

.messaging_block {
    margin-left: 370px;
    }

#resize01 {
    float: right;
    margin-right: 0;
    width: 5px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1;
    cursor: e-resize;
    top: 0;
    position: absolute;
    right: 0;
    z-index: 1000;
}

.dialogsHeader {
    padding: 0 20px;
}

.men {
    position: relative;
    height: 100vh;
    /*overflow: hidden;*/
    display: flex;
    flex-direction: column;
    animation-direction: revert;
    /*border-right: 1px solid #d0d0d0;*/


    /*position: absolute;*/
    /*right: 0;*/


}

.chats_block_header_title {
    justify-content: center;
    height: 100%;
    background: url('#{$img}/chatblock/header.png') no-repeat;
    background-size: contain;
}

.chats_block_header_title {
    font-family: $ff-1;
}

.resize1 {
    width: 300px;
}

.showOnMap{
    @include size(100%, 33px);
    @include fz(12);
    background: url('#{$img}/chatblock/mapPoint.png') 55px center no-repeat $brand-gray-400;
    background-size: 18px;
    border: 0;
    border-radius: 10px;
    color: $cf;
}


.btn_create_chat{
    cursor: pointer;
    padding: 7px 20px;
    &:hover {
        background-color: rgba(43, 194, 249, 0.2);
    }
}

.btn_create{
    width: 42px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    border: 1px solid $brand-blue;
    border-radius: 37px;
    font-size: 28px;
    color: $brand-blue;
    margin-right: 10px;
}

.btn_create_chat_text{
    display: inline-block;
    color: $brand-blue;
    &:hover {
    text-decoration: underline;
    }
}

.btn-add-old{
    margin-right: 20px;
    background: $cf;
    border: 1px solid $brand-blue;
    border-radius: 8px;
    padding: 2px 11px;
    color: $brand-blue;
}







//
// Switches for Bootstrap 4.
//
// - Fully customizable with Sass variables
// - No JavaScript required
// - Fully accessible
//

//
// IMPORTANT: These Sass variables are defined in Bootstrap's variables.scss. You should import that file first, then remove these.
//
$font-size-base: 1rem;
$font-size-lg: ($font-size-base * 1.25);
$font-size-sm: ($font-size-base * .875);
$input-height: 2.375rem;
$input-height-sm: 1.9375rem;
$input-height-lg: 3rem;
$input-btn-focus-width: .2rem;
$custom-control-indicator-bg: #dee2e6;
$custom-control-indicator-disabled-bg: #e9ecef;
$custom-control-description-disabled-color: #868e96;
$white: white;
$theme-colors: (
        'primary': #08d
);

//
// These variables can be used to customize the switch component.
//
$switch-height: calc(#{$input-height} * .8) !default;
$switch-height-sm: calc(#{$input-height-sm} * .8) !default;
$switch-height-lg: calc(#{$input-height-lg} * .8) !default;
$switch-border-radius: $switch-height !default;
$switch-bg: $custom-control-indicator-bg !default;
$switch-checked-bg: map-get($theme-colors, 'primary') !default;
$switch-disabled-bg: $custom-control-indicator-disabled-bg !default;
$switch-disabled-color: $custom-control-description-disabled-color !default;
$switch-thumb-bg: $white !default;
$switch-thumb-border-radius: 50% !default;
$switch-thumb-padding: 2px !default;
$switch-focus-box-shadow: 0 0 0 $input-btn-focus-width rgba(map-get($theme-colors, 'primary'), .25);
$switch-transition: .2s all !default;

.switch {
  font-size: $font-size-base;
  position: relative;

  input {
    position: absolute;
    height: 1px;
    width: 1px;
    background: none;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
    padding: 0;

    + label {
      position: relative;
      min-width: calc(#{$switch-height} * 2);
      border-radius: $switch-border-radius;
      height: $switch-height;
      line-height: $switch-height;
      display: inline-block;
      cursor: pointer;
      outline: none;
      user-select: none;
      vertical-align: middle;
      text-indent: calc(calc(#{$switch-height} * 2) + .5rem);
    }

    + label::before,
    + label::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: calc(#{$switch-height} * 2);
      bottom: 0;
      display: block;
    }

    + label::before {
      right: 0;
      background-color: $switch-bg;
      border-radius: $switch-border-radius;
      transition: $switch-transition;
    }

    + label::after {
      top: $switch-thumb-padding;
      left: $switch-thumb-padding;
      width: calc(#{$switch-height} - calc(#{$switch-thumb-padding} * 2));
      height: calc(#{$switch-height} - calc(#{$switch-thumb-padding} * 2));
      border-radius: $switch-thumb-border-radius;
      background-color: $switch-thumb-bg;
      transition: $switch-transition;
    }

    &:checked + label::before {
      background-color: $switch-checked-bg;
    }

    &:checked + label::after {
      margin-left: $switch-height;
    }

    &:focus + label::before {
      outline: none;

    }

    &:disabled + label {
      color: $switch-disabled-color;
      cursor: not-allowed;
    }

    &:disabled + label::before {
      background-color: $switch-disabled-bg;
    }
  }

  // Small variation
  &.switch-sm {
    font-size: $font-size-sm;

    input {
      + label {
        min-width: calc(#{$switch-height-sm} * 2);
        height: $switch-height-sm;
        line-height: $switch-height-sm;
        text-indent: calc(calc(#{$switch-height-sm} * 2) + .5rem);
      }

      + label::before {
        width: calc(#{$switch-height-sm} * 2);
      }

      + label::after {
        width: calc(#{$switch-height-sm} - calc(#{$switch-thumb-padding} * 2));
        height: calc(#{$switch-height-sm} - calc(#{$switch-thumb-padding} * 2));
      }

      &:checked + label::after {
        margin-left: $switch-height-sm;
      }
    }
  }

  // Large variation
  &.switch-lg {
    font-size: $font-size-lg;

    input {
      + label {
        min-width: calc(#{$switch-height-lg} * 2);
        height: $switch-height-lg;
        line-height: $switch-height-lg;
        text-indent: calc(calc(#{$switch-height-lg} * 2) + .5rem);
      }

      + label::before {
        width: calc(#{$switch-height-lg} * 2);
      }

      + label::after {
        width: calc(#{$switch-height-lg} - calc(#{$switch-thumb-padding} * 2));
        height: calc(#{$switch-height-lg} - calc(#{$switch-thumb-padding} * 2));
      }

      &:checked + label::after {
        margin-left: $switch-height-lg;
      }
    }
  }

  + .switch {
    margin-left: 1rem;
  }
}
//
// Switches for Bootstrap 4.
//
// - Fully customizable with Sass variables
// - No JavaScript required
// - Fully accessible
//

//
// IMPORTANT: These Sass variables are defined in Bootstrap's variables.scss. You should import that file first, then remove these.
//



.switch-btn {
  display: inline-block;
  width: 62px; /* ширина переключателя */
  height: 24px; /* высота переключателя */
  border-radius: 12px; /* радиус скругления */
  background: #bfbfbf; /* цвет фона */
  z-index: 0;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  position: relative;
  transition-duration: 300ms; /* анимация */
}

.switch-btn::after {
  content: "";
  height: 36px; /* высота кнопки */
  width: 36px; /* ширина кнопки */
  border-radius: 18px; /* радиус кнопки */
  background: #fff; /* цвет кнопки */
  top: -6px; /* положение кнопки по вертикали относительно основы */
  left: -6px; /* положение кнопки по горизонтали относительно основы */
  transition-duration: 300ms; /* анимация */
  box-shadow: 0 0 10px 0 #999999; /* тень */
  position: absolute;
  z-index: 1;
}

.switch-on {
  background: #fff;
  box-shadow: inset 0 0 10px 0 #999999; /* тень */
}

.switch-on::after {
  left: 30px;
  background: #118c4e;
}

.bl-hide {
  display: none;
}
