#menu.block(class='icon-bar')
    ul.menu#main-menu
        li
            div.menu__item.menu__item_logo.not_active
                div(class='image')
                    //- img(src="img/navbar/img/logo.png")
                    include ../../../img/navbar/img/logo.svg
                span.text MOON SHARD

        //- li.d-none
        //-     a.menu__item.menuBtn.not_active(data-translate-key="HEADING-ONE")
        //-         div(class='image')
        //-             img(src="img/navbar/img/burger.png")
        //-         span.text
        //- li
        //-     a.menu__item.active_menu(data-id="menu_user_chats")
        //-         div(class='image')
        //-             //- img(src="img/navbar/img/men.png")
        //-             include ../../../img/navbar/img/contacts.svg
        //-         span.text (data-translate-key="CONTACTS") Contacts

        li
            a.menu__item.active_menu(data-id="menu_chats")
                div(class='image')
                    //- img(src="img/navbar/img/groups.png")
                    include ../../../img/navbar/img/group.svg
                span.text (data-translate-key="GROUPS") Groups

        li
            a.menu__item(data-id="menu_wallet")
                div(class='image')
                    //- img(src="img/navbar/img/balance.png")
                    include ../../../img/navbar/img/wallet.svg
                span.text (data-translate-key="WALLET") Wallet
        //- a(data-id="menu_under_construction")
        //-     div(class='image')
        //-         img(src="img/navbar/img/calendar.png")
        //-     span.text (data-translate-key="CALENDAR") Calendar
        //-     label(notice='{2}/')
        li
            a.menu__item.menu__item_settings(data-id="menu_settings")
                div(class='image')
                    //- img(src="img/navbar/img/settings.png")
                    include ../../../img/navbar/img/settings.svg
                span.text (data-translate-key="SETTINGS") Settings

        li.d-none
            a.menu__item.mt-3(data-id="menu_create_chat" class='not_active')
                div(class='image')
                    img(src="img/navbar/img/newChat.png")
                span.text (data-translate-key="CREATE_CHAT") New group

        li
            a.menu__item.menu__item_notification.not_active(data-id="")
                div(class='image')
                    //- img(src="img/navbar/img/bell.png")
                    include ../../../img/navbar/img/notification.svg
                span.text (data-translate-key="NOTIFICATIONS") Notifications

        li#update_button(style='display:none' data-name='download_updates')
            a.menu__item.not_active(data-id="" style='padding: 0')
                .progress
                    #download_updates.progress-bar(role="progressbar", aria-valuenow="70", aria-valuemin="0", aria-valuemax="100", style="width:0%")
                        div#download_img(class='image' style='width: 100%; position: absolute; display: block')
                            //img(src="https://image.flaticon.com/icons/svg/875/875100.svg")
                            include ../../../img/navbar/img/download.svg
                            //span.text (data-translate-key="NOTIFICATIONS") Notifications
                        div#update_img(class='image' style='width: 100%; position: absolute; display:none')
                            //img(src="https://image.flaticon.com/icons/svg/875/875100.svg")
                            include ../../../img/navbar/img/refresh.svg

        li(class='exit')
            a.menu__item.menu__item_exit.not_active
                div(class='image')
                    //- img(src="img/navbar/img/logout.png")
                    include ../../../img/navbar/img/exit.svg
                span.text

script
    include ./script.js
