style
    include navbar.css

#menu(class='icon-bar')
    div(class='menu' id=('menu'))
        a(href='#')
            div(class='image')
                img(src="components/main/navbar/img/logo.png")
            span MOON SHARD
        a(href='#', class='menuBtn')
            div(class='image')
                img(src="components/main/navbar/img/burger.png")
            span
        a(href='#/men/')
            div(class='image')
                img(src="components/main/navbar/img/men.png")
            span Люди
            label(notice='{4}')
        a(href='#/groups/')
            div(class='image')
                img(src="components/main/navbar/img/groups.png")
            span Группы
            label(notice='{7}/')
        a(href='#/koshel/')
            div(class='image')
                img(src="components/main/navbar/img/balance.png")
            span Кошелек
            label(notice='{14}/')
        a(href='#')
            div(class='image')
                img(src="components/main/navbar/img/calendar.png")
            span Календарь
            label(notice='{2}/')
        a(href='#/settings/')
            div(class='image')
                img(src="components/main/navbar/img/settings.png")
            span Настройки
    div(class='exit')
        a(href='#')
            div(class='image')
                img(src="components/main/navbar/img/logout.png")
            span

script
    include ./script.js
