style
    include navbar.css

#menu(class='icon-bar')
    div(class='menu' id=('menu'))
        a
            div(class='image')
                img(src="components/main/navbar/img/logo.png")
            span MOON SHARD
        a(class='menuBtn')
            div(class='image')
                img(src="components/main/navbar/img/burger.png")
            span
        a(data-id="menu_user_chats" class='active_menu')
            div(class='image')
                img(src="components/main/navbar/img/men.png")
            span Люди
            label(notice='{4}')
        a(data-id="menu_chats")
            div(class='image')
                img(src="components/main/navbar/img/groups.png")
            span Группы
            label(notice='{7}/')
        a(data-id="menu_create_chat")
            div(class='image')
                img(src="components/main/navbar/img/groups.png")
            span Создать группу
            label(notice='{88}/')
        a(data-id="menu_under_construction")
            div(class='image')
                img(src="components/main/navbar/img/balance.png")
            span Кошелек
            label(notice='{14}/')
        a(data-id="menu_under_construction")
            div(class='image')
                img(src="components/main/navbar/img/calendar.png")
            span Календарь
            label(notice='{2}/')
        a(data-id="menu_under_construction")
            div(class='image')
                img(src="components/main/navbar/img/settings.png")
            span Настройки
    div(class='exit')
        a
            div(class='image')
                img(src="components/main/navbar/img/logout.png")
            span

script
    include ./script.js
