.modal-header.modal-header_img
    .modal-header__img
        include ../../../img/modal_popup/icon.svg
    .modal-header__name
        input.form-control(name="name" type="text" placeholder="Название группы")
    .modal-header__category.text-center
        .custom-control-vertical.custom-control-inline.custom-radio.d-none
            input.custom-control-input#group(type="radio" name="open-private")
            label.custom-control-label.custom-control-label_icon(for="group")
                div.icon
                    include ../../../img/modal_popup/group.svg
                span Group Chat
        .custom-control-vertical.custom-control-inline.custom-radio
            input.custom-control-input#free(type="radio" name="open-private" checked)
            label.custom-control-label.custom-control-label_icon(for="free")
                div.icon
                    include ../../../img/modal_popup/free.svg
                span Free channel
        .custom-control-vertical.custom-control-inline.custom-radio
            input.custom-control-input#private(type="radio" name="open-private")
            label.custom-control-label.custom-control-label_icon(for="private")
                div.icon
                    include ../../../img/modal_popup/private.svg
                span Private channel
.modal-body
    .form-group.d-none
        button.btn.btn-link(data-toggle="collapse" data-target="#crowdsale" aria-expanded="false" aria-controls="crowdsale")
            | Token & crowdsale
        .collapse#crowdsale
            .card.card-body
                | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
    .form-group#token_row(style="display:none")
        label(for="price") Set subscription price
        .row.align-items-center
            .col-5
                input#price.form-control(type="text")
            .col-4
                strong MnShrd
            .col
                span *1$=1MnShrd
    .form-group#popup_error(style="color:red; display:none;")
.modal-footer
    .text-center
        button(class="btn btn-primary") Создать
        button.btn.btn-secondary(type="button" data-dismiss="modal") Close
