.col-sm-3 {
    display: flex;
    justify-content: center;
    align-items: center;

}

th {
    width: 25%;
}
.table th, .table td{
    border-top: none ;
}

.table tr {
    border-top: 1px solid #dee2e6;
}

.table tr:first-child {
    border-top: none;
}

.cardInfo {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    /*height: 100px;*/
    align-items: center;
    padding: 20px;
}




