.col-sm-3 {
    display: flex;
    justify-content: center;
    align-items: center;

}

th {
    width: 25%;
}
.table th, .table td{
    border-top: none ;
}

.table tr {
    border-top: 1px solid #dee2e6;
}

.table tr:first-child {
    border-top: none;
}