#messaging_block_content {
    .content {
        @include size(60%, 100%);
        float: right;
        overflow: hidden;
        position: relative;

        @media screen and (max-width: 735px) {
            width: calc(100% - 58px);
            min-width: 300px !important;
        }

        @media screen and (min-width: 900px) {
            width: calc(100% - 340px);
        }

        .contact-profile {
            @include size(100%, 60px);
            line-height: 60px;
            background: #f5f5f5;

            img {
                width: 40px;
                border-radius: 50%;
                float: left;
                margin: 9px 12px 0 9px;
            }

            p {
                float: left;
            }

            .social-media {
                float: right;

                i {
                    margin-left: 14px;
                    cursor: pointer;

                    &:nth-last-child(1) {
                        margin-right: 20px;
                    }

                    &:hover {
                        color: #435f7a;
                    }
                }
            }
        }



        .messages {
            height: auto;
            min-height: calc(100% - 93px);
            max-height: calc(100% - 93px);
            overflow-y: scroll;
            overflow-x: hidden;

            @media screen and (max-width: 735px) {
                max-height: calc(100% - 105px);
            }

            &::-webkit-scrollbar {
                width: 8px;
                background: transparent;
            }

            &::-webkit-scrollbar-thumb {
                background-color: opacify($c0, 0.3);
            }

            ul {

                li {
                    display: inline-block;
                    clear: both;
                    float: left;
                    margin: 15px 15px 5px 15px;
                    width: calc(100% - 25px);
                    font-size: 0.9em;

                    &:nth-last-child(1) {
                        margin-bottom: 20px;
                    }

                    img {
                        width: 22px;
                        border-radius: 50%;
                        float: left;
                    }

                    p {
                        display: inline-block;
                        padding: 10px 15px;
                        border-radius: 20px;
                        max-width: 205px;
                        line-height: 1.3;

                        @media screen and (min-width: 735px) {
                            max-width: 300px;
                        }
                    }

                    &.sent {

                        img {
                            margin: 6px 8px 0 0;
                        }

                        p {
                            background: #435f7a;
                            color: #f5f5f5;
                        }
                    }

                    &.replies {

                        img {
                            float: right;
                            margin: 6px 0 0 8px;
                        }

                        p {
                            background: #f5f5f5;
                            float: right;
                        }
                    }
                }
            }
        }

        .message-input {
            @include position(absolute, null null 0);
            width: 100%;
            z-index: 99;

            .wrap {
                position: relative;

                input {
                    //font-family: "proxima-nova",  "Source Sans Pro", sans-serif;
                    float: left;
                    border: none;
                    width: calc(100% - 90px);
                    padding: 11px 32px 10px 8px;
                    font-size: 0.8em;
                    color: #32465a;

                    @media screen and (max-width: 735px) {
                        padding: 15px 32px 16px 8px;
                    }

                    &:focus {
                        outline: none;
                    }
                }

                .attachment {
                    @include position(absolute, null 60px null null);
                    z-index: 4;
                    margin-top: 10px;
                    font-size: 1.1em;
                    color: #435f7a;
                    opacity: .5;
                    cursor: pointer;

                    @media screen and (max-width: 735px) {
                        margin-top: 17px;
                        right: 65px;
                    }

                    &:hover {
                        opacity: 1;
                    }
                }

                button {
                    float: right;
                    border: none;
                    width: 50px;
                    padding: 12px 0;
                    cursor: pointer;
                    background: #32465a;
                    color: #f5f5f5;

                    @media screen and (max-width: 735px) {
                        padding: 16px 0;
                    }

                    &:hover {
                        background: #435f7a;
                    }

                    &:focus {
                        outline: none;
                    }
                }
            }
        }
    }
}

/* Join Btn */
a.join_button {
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: $cf;
    background-color: #4eb5f1;
    text-align: center;
    transition: all 0.2s;

    &:hover {
        background-color: #4095c6;
    }

    @media all and (max-width: 30em) {
        display: block;
        margin: 0.2em auto;
    }
}

/* Messaging Block */

.messaging {
    &_block {
        flex: 1;
        height: 100vh;
        position: relative;
        background: $brand-gray-100;
        overflow: hidden;
        background-size: auto 110%;
        background-image: linear-gradient(180deg,hsla(0,0%,95.3%,.9) 0,hsla(0,0%,95.3%,.9)),url(('#{$img}/messBlockBg.jpg'));
        display: flex;
        flex-direction: column;

    }
}

.send_message {

    &__block {
        @include size(100%, auto);
        //@include position(absolute, null null 0);
        margin-top: auto;
        display: flex;
        flex-shrink: 0;
        //justify-content: space-evenly;
        align-items: center;
        overflow: hidden;
        //padding: 20px 30px 20px 20px;
        background-color: $cf;
        padding: 0;
        border-top: 1px solid $brand-gray-100;
    }

    &__img{
        @include size(0);
        //margin: 0 15px;

        &.added{
            @include size(50px);
        }
    }

    &__input {
        @extend .custom-scrollbar;
        overflow-x: hidden;
        overflow-y: auto;
        @include size(auto, auto);
        border-radius: 10px;
        border-style: none;
        outline: none;
        padding: .25rem .5rem;
        resize: none;
        flex: 1;
        margin: .5em 15px;
        max-height: 200px;

        &::placeholder {
            color: $brand-blue;
        }

        &::-webkit-scrollbar {
            width: 0;
        }
    }

    &__btn {
        //@include size(100px,50px);
        margin: 0px 18px;
        //padding: 13px;
        background-color: #ffffff;
        /* color: #2bc2f9; */
        border: none;
        /* border-radius: 5px; */
        cursor: pointer;
        text-transform: uppercase;
        /* font-weight: 700; */
        margin-left: 15px;
        background-repeat: no-repeat;
        //background-image: url(http://cdn.onlinewebfonts.com/svg/img_85498.png);
        background-size: contain;
    }

    &__file,
    &__voice{
        padding: 5px 10px;
        background: none;
        border: 0;
        cursor: pointer;

        img{
            @include size(auto, 25px);
            //height:  30px;
            opacity: .8;
            @include transition(.2s ease);
        }

        &:hover{

            img{
                opacity: 1;
            }
        }
    }
}

/*
 * message history
 */
.msgHistory{
    //height: auto;
    //max-height: calc(100% - 120px);
    overflow-y: auto;
    overflow-x: hidden;
    //margin-top: 40px;
    //padding-bottom: 10px;
    //@extend .custom-scrollbar;

    .dialogDate {
        text-align: center;
        margin: 15px 0;
        p {
            background: rgba($c0, 0.34);
            @include fz(14);
            display: inline-block;
            padding: 2px 15px;
            margin: 0;
            border-radius: 15px;
            color: $cf;
            font-weight: 800;
            //font-family: Roboto, sans-serif;
        }
    }

    @media screen and (max-width: 735px) {
        max-height: calc(100% - 105px);
    }
    //
    //&::-webkit-scrollbar {
    //    width: 8px;
    //    background: transparent;
    //}
    //
    //&::-webkit-scrollbar-thumb {
    //    background-color: rgba(0, 0, 0, 0.3);
    //}

    // Список сообщений
    &__list{
        padding: 15px;
        position: relative;

        [data-toggle="scrollDown"]{
            @include size(2.5rem);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            @include position(fixed, null 30px 70px null);
            padding: 0;
            transition: .2s ease;
            opacity: 0;
            visibility: hidden;
            z-index: 2;

            &.show{
                opacity: 1;
                visibility: visible;
            }

            svg{
                transform: rotate(90deg);
                path {
                    stroke: $cf;
                }
            }
        }
    }
}
/*
 * /message history
 */

/*
 * message
 */
.message {
    //display: inline-block;
    //clear: both;
    //float: left;
    //margin: 15px 15px 5px 0;
    margin: 15px 0 15px;
    //width: calc(100% - 25px);
    width: 100%;
    font-size: 0.9em;
    display: flex;
    justify-content: flex-start;

    &__avatar{
        padding: 0 15px 10px;
        flex-shrink : 0;
    }

    &__bubble {
        background-color: $cf;
        box-shadow: 0 0 13px rgba(214, 214, 214, 0.5);
        position: relative;
        display: inline-block;
        padding: (10rem/$fz-num) (15rem/$fz-num);
        border-radius: 10px;
        font-size: 1.2em;
        max-width: 400px;
        line-height: 1.3;
        word-wrap: break-word;
        white-space: pre-wrap;

        &:after{
            content: '';
            @include position(absolute, 17px null null -12px);
            border: 5px solid transparent;
            border-right: 7px solid #ffffff;
        }

        .message_out &{
            background-color: $brand-blue;
            color: $cf;
            box-shadow: 0 0 13px rgba(0, 123, 255, 0.5);

            &::after {
                left: auto;
                right: -12px;
                border-right-color: transparent;
                border-left: 7px solid #2BC2F9;

                .messaging_block_lg &{
                    left: -12px;
                    right: auto;
                    border-left-color: transparent;
                    border-right: 7px solid #2BC2F9;
                }
            }
        }
    }

    &__text{
        user-select: text;

        &_transaction{

            .transaction{

            }
        }
    }

    &__date{
        @include fz(12);
        text-align: right;
        margin-top: 3px;
        opacity: .8;
    }

    &_out {
        flex-direction: row-reverse;

        .messaging_block_lg &{
            flex-direction: row;
        }
    }

    &_in {
    }
}
/* Сообщение о транзакции */
.transaction{
    padding: 0;

    &__header{
        border-bottom: 1px solid rgba($c0, .1);
        padding: (5rem/$fz-num) (15rem/$fz-num);
        *{
            margin: 0;
        }
    }

    &__title{
        font-size: 1.25rem;
        margin: 0;
    }

    &__body{
        padding: (5rem/$fz-num) (15rem/$fz-num);
    }

    &__footer{
        border-top: 1px solid rgba($c0, .1);
        padding: 0;
        overflow: hidden;

        > .btn{
            border-radius: 0 0 10px 10px;
            box-shadow : none;
            background-color: lighten($brand-primary,35%);
            border-color: lighten($brand-primary,35%);
            color: $cf;

            &:hover,
            &:active{
                background-color: lighten($brand-primary,15%);
                border-color: lighten($brand-primary,15%);
            }

            .message_out &{
                background-color: darken($brand-blue,20%);
                border-color: darken($brand-blue,20%);

                &:hover,
                &:active{
                    background-color: darken($brand-blue,30%);
                    border-color: darken($brand-blue,30%);
                }
            }
        }

        .message__date{
            padding: 0 (15rem/$fz-num);
        }
    }
}
/* /Сообщение о транзакции */

.imageOutputFile {
    margin-top: 10px;
    //width: 100%;
    position: relative;
    max-width: 200px;

    img {
        border-radius: 10px;
        cursor: pointer;
    }

    span{
        display: block;
        //max-width: 200px;
    }
}

.docOutputFile {
    //width: 100%;
    position: relative;
    margin-top: 10px;
    max-width: 200px;
    &__icon {
        @include size(45px);
        //margin: 5px 13px;
        position: relative;
        cursor: pointer;
        display: inline-block;
        text-align: center;

        &_download {

            svg.fa-file {
                opacity: 0;
                transition: .2s ease;
            }
        }
    }

    .stop {
        @include position(absolute, 50% 50%);
        @include fz(20);
        @include transition(.2s ease);
        text-align: center;
        opacity: 0;
        transform: translate(50%, -50%);
        color: $brand-red;
        cursor: pointer;
    }

    svg {
        cursor: pointer;
        transition: .2s ease;

        path {
            fill: #212529;

            .message_out &{
                fill: $cf
            }
        }

        &.fa-file {
            height: 45px;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }
        &.fa-spinner {
            opacity: 0;
            cursor: pointer;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            animation: spinLoad 2s linear infinite;
        }
    }

    &.load{

        .docOutputFile {

            &__icon{

                &:hover {

                    .stop {
                        opacity: 1;
                    }
                }
            }
        }

        svg {
            opacity: 0;

            &.fa-spinner {
                opacity: 1;
            }
        }
    }

    &.complite{

        .docOutputFile{

            &__icon{

                &_download{
                    svg {
                        opacity: 0;

                        &.fa-file {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    .message_out & span {
        //padding-right: 15px;
    }

    span{
        display: block;
        //max-width: 200px;
    }
}
/*
 * /message
 */

.head_peer {
    height: 80px;
    width: 100%;
    background-color: $cf;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #c3c3c3;


    h3 {
        margin: 0;
    }
}

.dropDown_menu {

    > ul {
        align-items: center;
        display: flex;
        margin: 0;

        > li {
            display: flex;
            cursor: pointer;
            padding: 9px;
            width: 60px;
            height: 60px;
            zoom: 0.8;
            transition: 0.5s;
            align-items: center;
            justify-content: center;
            position: relative;

            &:hover {
                background: #eeeeee;
            }

            > ul {
                position: absolute;
                top: 70px;
                background: white;
                min-width: 250px;
                border-radius: 20px;
                right: 0;
                box-shadow: 0 0 20px rgba(97, 97, 97, 0.3);
                padding: 20px 10px;
                cursor: auto;
                display: none;
                z-index: 1;

                > li {
                    font-size: 23px;
                    text-decoration: none;
                    list-style: none;
                    padding: 8px 25px;
                    font-family: Roboto, sans-serif;
                    cursor: pointer;
                    line-height: 1;

                    &:hover {
                        color: #2BC2F9;
                    }
                }
            }
        }
    }

    .image {
        display: flex;
        justify-content: center;
    }
}

.peer_name {
    margin: 0 0 0 10px;
    color: $primary-text;
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: pointer;

    *{
        pointer-events: none;
    }

    span{
        @include fz(18);
    }

    &:hover {
        text-decoration: none;
    }

    img {
        margin-right: 10px;
    }
}

.nav-tabs {
    @include position(absolute, 70px null null 0);
    border: none !important;
    border-radius: 0 !important;
    width: 100%;
}

.nav-link {
    border: none !important;
    border-radius: 0 !important;
}

.notifyBlock {
    padding: 30px;
}

.alertBg {
    border: none;
    border-left: 7px solid;
    background-color: #fafafa !important;
    box-shadow: 0 5px 8px -6px rgba(0, 0, 0, .2) !important;
    border-radius: 0 !important;

}

.notice {
    &-success {
        border-color: #80D651;

        > strong {
            color: #80D651;
        }
    }

    &-info {
        border-color: #45ABCD;
        > strong {
            color: #45ABCD;
        }
    }

    &-warning {
        border-color: #FEAF20;
        > strong {
            color: #FEAF20;
        }
    }

    &-danger {
        border-color: #d73814;

        > strong {
            color: #d73814;
        }
    }
}

.slick-slide {
    /*width:230px;*/
    margin: 10px 15px;

    img {
        border-radius: 36px;
        box-shadow: 0 0 13px rgba(97, 97, 97, 1);
    }
}

.serchInChannel {
    background: url('#{$img}/modal_popup/img/search.png') 15px 50% no-repeat;
    border: 0;
    height: 45px;
    box-shadow: 0 0 30px rgba(43, 194, 249, 0.1);
    border: none;
    border-radius: 29px;
    padding-left: 55px;
    outline: none;
}

.modal-content {
    border-radius: 5px;
    &:hover {
      background-color: #435f7a;
    }
}

.groupInfoHeader {

    .modal-title {
        margin-top: 15px;
    }
}

.showOnMapChannel,
.calendarChannel {
    @include size(100%,40px);
    background-color: #BDBDBD;
    background-repeat: no-repeat;
    background-position: 45px center;
    border: 0;
    background-size: 18px;
    border-radius: 10px;
    color: $cf;
    outline: none;
    cursor: pointer;

}

.offerPublication,
.getMoreTokens {
    @include size(100%,40px);
    background-color: $brand-primary;
    border: 0;
    background-size: 18px;
    //border-radius: 10px;
    color: $cf;
    outline: none;
    cursor: pointer;
    //box-shadow: 0 0 13px rgba(0, 123, 255, 0.5);
}

.showOnMapChannel {
    background-image: url('#{$img}/chatblock/mapPoint.png');
}

.calendarChannel {
    background-image: url('#{$img}/modal_popup/img/calendar.png');
}

.loader {
    @include fz(5);
    @include size(4em,1em);
    position: relative;
}

.dot {
    width: 1em;
    height: 1em;
    border-radius: 0.5em;
    background: #333;
    position: absolute;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;

    &1,
    &2{
        left: 0;
    }
    &2{
        animation-name: slide;
    }
    &3{
        left: 1.5em;
        animation-name: slide;
    }
    &4{
        left: 3em;
        animation-name: reveal;
        animation-direction: reverse; /* thx @HugoGiraudel */
    }
}


