style
    include infopanel.css
#menu(class='infopanel')
    div(class='chats_block_header_title')
        //img(src="src/components/chatsblock/infopanel/header.png", width='350')
    div(class='chats_block_header_content')

