style
    include infopanel.css
a(href="#" class="infopanel")
    div(class='infopanel_img')

        img(src="components/chatsblock/infopanel/header.png", width='50' height='50')
        span(class="stateLabel")
    div(class='infopanel_title')
        b Oleg losev
        span Кто рядом с вами?

