.custom-scrollbar
    .container-fluid
        .row
            .col-xs-12.col-sm-6.col-lg-4.p15
                .card.h-100
                    .card-header Release Notes
                    .card-body
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores fuga iure magnam praesentium recusandae repellat repudiandae tenetur totam, velit voluptas. Dicta dolore earum esse maxime numquam optio qui quibusdam ullam?
                    .card-footer
                        a.btn.btn-block.btn-primary(href="https://github.com/MoonSHRD") Read more
            .col-xs-12.col-sm-6.col-lg-4.p15
                .card.h-100
                    .card-header GitHub
                    .card-body
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores fuga iure magnam praesentium recusandae repellat repudiandae tenetur totam, velit voluptas. Dicta dolore earum esse maxime numquam optio qui quibusdam ullam?
                    .card-footer
                        a.btn.btn-block.btn-primary(href="https://github.com/MoonSHRD") Read more
            .col-xs-12.col-sm-6.col-lg-4.p15
                .card.h-100
                    .card-header Transaction History
                    .card-body
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores fuga iure magnam praesentium recusandae repellat repudiandae tenetur totam, velit voluptas. Dicta dolore earum esse maxime numquam optio qui quibusdam ullam?
                    .card-footer
                        button.btn.btn-block.btn-primary(data-menu="menu_wallet" data-submenu="wallet_history" data-id="start") Read more
            .col-xs-12.col-sm-6.col-lg-4.p15
                .card.h-100
                    .card-header Transfer
                    .card-body
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores fuga iure magnam praesentium recusandae repellat repudiandae tenetur totam, velit voluptas. Dicta dolore earum esse maxime numquam optio qui quibusdam ullam?
                    .card-footer
                        button.btn.btn-block.btn-primary(data-menu="menu_wallet" data-submenu="wallet_transfer" data-id="start") Read more