.custom-scrollbar
    .container-fluid
        .row
            .col-xs-12.col-sm-12.col-lg-12.p15
                .card-first
                    .card-body.row
                        .image-logo-first.col-xs-4.col-sm-4.col-lg-4
                            include ../../../img/logo-1.svg
                        .text-logo-first.col-xs-8.col-sm-8.col-lg-8
                            .text-h2-first Welcom o MoonShad!
                            .text-logo-first-cont Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            .col-xs-12.col-sm-6.col-lg-4.p15
                .card.h-100
                    .card-header.text-center Release Notes
                    .card-body
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores fuga iure magnam praesentium recusandae repellat repudiandae tenetur totam, velit voluptas.
                    .card-footer
                        a.btn.btn-block.btn-primary(href="https://github.com/MoonSHRD") Read more
            .col-xs-12.col-sm-6.col-lg-4.p15
                .card.h-100
                    .card-header.text-center GitHub
                    .card-body
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores fuga iure magnam praesentium recusandae repellat repudiandae tenetur totam, velit voluptas.
                    .card-footer
                        a.btn.btn-block.btn-primary(href="https://github.com/MoonSHRD") Read more
            .col-xs-12.col-sm-6.col-lg-4.p15
                .card.h-100
                    .card-header.text-center Transaction History
                    .card-body
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores fuga iure magnam praesentium recusandae repellat repudiandae tenetur totam, velit voluptas.
                    .card-footer
                        button.btn.btn-block.btn-primary(data-menu="menu_wallet" data-submenu="wallet_history" data-id="start") Read more
            .col-xs-12.col-sm-6.col-lg-4.p15
                .card.h-100
                    .card-header.text-center Transfer
                    .card-body
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores fuga iure magnam praesentium recusandae repellat repudiandae tenetur totam, velit voluptas.
                    .card-footer
                        button.btn.btn-block.btn-primary(data-menu="menu_wallet" data-submenu="wallet_transfer" data-id="start") Read more