html, body {
    margin: 0;
    padding: 0;
}

.App {
    display: flex;
    /*background-color: lavender;*/
    position: relative;
    height:  100vh;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}



#working_side {
    display: flex;
    /*background-color: lavender;*/
    position: relative;
    width: 100%;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.twoBlocks {
    display: flex;
    position: relative;
    width: 450px;
}



