doctype html
html
  head
    link(rel='stylesheet', href='./css/index.min.css')
    //link(rel='stylesheet' href='../node_modules/bootstrap/dist/css/bootstrap.css')
    //link(rel='stylesheet' href='../node_modules/animate.css/animate.css')
    //link(rel='stylesheet', type='text/css', href='../node_modules/slick-carousel/slick/slick.css')
    //link(rel='stylesheet', type='text/css', href='../node_modules/slick-carousel/slick/slick-theme.css')
    //link(rel='stylesheet', type='text/css', href='//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css')

    //link(rel='stylesheet' href='../node_modules/tiny-slider/dist/tiny-slider.css')
    //link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")


    block head
      meta(charset = 'utf-8')
      meta(name='viewport', content="initial-scale=1.0, width=device-width")
      title Moonshard
  body(lang="en")
    //style
    //  include scss/App.scss

    div(class='App' id='view')
      include components/loading/loading
      //<div id="loader-wrapper">
      //<div id="loader"></div>
      //</div>
      //include components/navbar/navbar.pug
      //include components/chatsblock/chatsblock.pug
      //include components/messagingblock/messagingblock.pug

    //script(src='./node_modules/pilotjs/Pilot.js')
    script.
      window.$ = window.jQuery = require('../node_modules/jquery/dist/jquery.js');

    script.
      require('jqueryui')
    //script.
    //    require('bootstrap')
    //script.
    //    require('./js/bootstrap.min.js')
    script.
      require('bootstrap')

    script.
      require('bootstrap-notify')

    ////script.
    //    require('./langs/lang')
    //script.
    //    require('navigo')

    script(src='./index.js')
    //script(src='./router.js')
    //script(src='./renderer.js')

    //script.
    //    require('router_js')
    //script(src="https://rawgit.com/flatiron/director/master/build/director.min.js")



    //script(async id="__bs_script__" src="http://localhost:3000/browser-sync/browser-sync-client.js?v=2.24.6")
    //script(async id="__bs_script__" src="http://localhost:3000/browser-sync/browser-sync-client.js?v=2.24.6")
    script(src='../node_modules/slick-carousel/slick/slick.js')
