style
    include messagingblock.css
div(class ='messaging_block' id ='messaging_block')
    include qqq.pug
    div(class="send_message_block")
        textarea(class="send_message_input"  placeholder="текст сообщения")
        button(class="send_message_btn") отправить
