*{
    outline: none !important;
    -webkit-user-drag: none;
    -webkit-app-region: no-drag;
    user-select: none;

    &:before,
    &:after{
        @extend *;
    }
}

.select-true{
    user-select: auto;
}

body,
html{
    margin: 0;
    padding: 0;
    font-size: $fz-g;
}

body{
    font: $fz-g $ff-g;
    color: $primary-text;
    line-height: 1.4;
}

img{
    max-width: 100%;
    //height: auto;
    object-fit: cover;

    &.img-responsive{
        width: 100%;
        max-width: none;
    }
}

.form{

    &-control{
        padding-left: 1.125rem;
        padding-right: 1.125rem;
        border-radius: 2em;
        background-color: $cf;
        border-color: $brand-gray-400;
        color: $primary-text;
        box-shadow: 2px 2px 20px rgba($brand-blue, 0.1);
        outline: none;
        &::placeholder{
            color: rgba($primary-text, 0.5);
        }

        &:focus{
            border-color: $brand-gray-400;
            outline: none;
            box-shadow: 4px 4px 20px rgba($brand-blue, 0.2);
        }

        &.error,
        &.invalid{
            border-color: $brand-red;
            //box-shadow: 4px 4px 20px rgba($brand-red, 0.2);
        }
    }
}

.control-switcher{
    display: flex;
    align-items: center;

    &_center{
        justify-content: center;
    }
}

.custom-control {

    &-vertical {
        flex-direction: column;
        margin-left: 1rem;
        margin-right: 1rem;
        min-width: 80px;
    }

    &-input {
        display: none;

        .custom-radio & {

            ~ label {

                &:before {
                    top: -2rem;
                    left: 50%;
                    transform: translate(-50%, 0);
                }

                &:after {
                    top: -1.6rem;
                    left: 50%;
                    transform: translate(-50%, 0);
                }
            }
        }

        .custom-radio &:focus {
            ~ label.custom-control-label {

                &:before {
                    box-shadow: none;
                }
            }
        }

        .custom-radio &:active {

            ~ label.custom-control-label {

                &:before {
                    background-color: $cf;
                }

                &:after {
                    background-image: none;
                    background-color: rgba($brand-blue, .8);
                }
            }
        }

        .custom-radio &:checked {

            ~ label.custom-control-label {

                &:before {
                    background-color: $cf;
                }

                &:after {
                    background-image: none;
                    background-color: $brand-blue;
                }
            }
        }
    }


    &-label {

        .custom-control-vertical & {
            margin-top: 3rem;
        }

        &_icon {
            display: inline-flex;
            align-items: center;
            cursor: pointer;

            .custom-control-vertical & {
                flex-direction: column;
            }

            > span {
                padding: 0;
                font-weight: 400;
                width: auto;
                //margin-left: 10px;
                float: none;
                @include fz(12);
            }

            .icon{
                height: 24px;
                margin-bottom: .25rem;

                svg{
                    //@include size(auto, 100%);
                }
            }
        }

        &:before {
            @include size(1.5rem);
            left: -2rem;
            border-radius: 50%;
            background-color: $cf;
            box-shadow: none;
            transition: .15s ease-in-out;
        }

        &:after {
            @include size(.7rem);
            left: -1.6rem;
            border-radius: 50%;
            background-image: none;
            background-color: transparent;
            box-shadow: none;
            transition: .15s ease-in-out;
        }
    }
}

//.btn{
//
//    &-primary{
//        @include btn-shadow($primary);
//        background-color: $primary;
//        color: $cf;
//    }
//    &-secondary {
//        @include btn-shadow($secondary);
//        background-color: $secondary;
//        color: $primary-text;
//    }
//}



/*
 * Alternate buttons
 */
@each $color, $value in $brand-colors {
    .btn-#{$color} {
        @include button-variant($value, $value);
    }
}

@each $color, $value in $brand-colors {
    .btn-outline-#{$color} {
        @include button-outline-variant($value);
    }
}

.btn{
    @include fz(14);
    font-weight: 700;
    border-radius: .75rem;
    padding: .525rem 1.5rem;

    &-primary{
        color: $cf;
    }
}

/*
 * Collapse
 */
[data-toggle="collapse"] {
    @include fz(18);
    font-weight: 500;
    font-family: $ff-1;
    color: $primary-text;
    text-decoration: none;
    padding-left: 0;
    padding-right: 0;

    &:hover,
    &:focus,
    &:active{
        color: $primary-text;
        text-decoration: none;
    }
    svg {
        margin-left: 1.5rem;
        transform: rotate(90deg);
        transition: .2s ease;
        path {
            stroke: $brand-blue
        }
    }
    &.collapsed {
        svg{
            transform: rotate(0deg);
        }
    }
}

.card{
    background-color: $cf;
    border: none;
    box-shadow: 2px 2px 20px rgba($brand-blue,.1);
    border-radius: 10px;
}




/**  old STYLE 11 */
.custom-scrollbar {
    overflow: auto;
    &::-webkit-scrollbar-track {
        //border-radius: 10px;
        background: opacify($brand-gray-100, 0.3);
        //border: 1px solid rgba($brand-gray-400, 0.1);
        transition: .2s ease;
    }
    &::-webkit-scrollbar {
        //width: 2px;
        width: 6px;
        background-color: $cf;
        transition: .2s ease;
    }

    &:hover{
        &::-webkit-scrollbar-thumb{
            border-radius: 10px;
            //background: linear-gradient(left, #fff, #e4e4e4);
            background-color: rgba($primary-text, .6);
            //border: 1px solid $primary-text;
        }
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        //background: linear-gradient(left, #fff, #e4e4e4);
        background-color: rgba($primary-text, .25);
        transition: .2s ease;

        &:active {
            //background: linear-gradient(left, #22ADD4, #1E98BA);
        }
    }
}