/* Fonts Variebles */
$ff-g : 'Roboto', sans-serif;
$fz-num : 16;
$fz-g : unquote($fz-num + 'px');

/* Color Variebles */
$cf: #fff;
$c0: #000;

$brand-primary: #272B46;
$brand-blue : #2BC2F9;
$brand-gray-100 : #F3F3F3;
$brand-gray-400 : #BDBDBD;
$brand-gray-700 : #909090;
$brand-green : #1AFF7C;
$brand-orange : #F2994A;
$brand-purple : #BB6BD9;

$primary : $brand-primary;