/* Fonts Variebles */
$ff-g : 'Roboto', sans-serif; // Global font-family
$ff-1 : 'Open Sans', sans-serif; // Additional font
$fz-num : 16; // Global font-size without unit
$fz-g : unquote($fz-num + 'px'); // Global font-size px

/* Paths */
$img : '../img';

/* Color Variebles */
$cf: #fff;
$c0: #000;

$brand-primary : #272B46 !default;
$brand-primary-300: lighten($brand-primary,15%);
$brand-primary-100: lighten($brand-primary,35%);
$brand-blue-100 : #BFEAF9 !default;
$brand-blue : #2BC2F9 !default;
$brand-gray-100 : #F3F3F3 !default;
$brand-gray-400 : #BDBDBD !default;
$brand-gray-700 : #909090 !default;
$brand-green : #1AFF7C !default;
$brand-orange : #F2994A !default;
$brand-purple : #BB6BD9 !default;
$brand-red : #C70039 !default;

//$primary : $brand-blue!default;
//$secondary : $brand-gray-400!default;
//$danger : $brand-red!default;
//$success : $brand-green!default;
//$dark : $brand-primary!default;
//$warning : $brand-orange!default;

$primary-text : $brand-primary;


$brand-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$brand-colors: map-merge(
    (
        "primary":    $brand-blue,
        "secondary":  $brand-gray-400,
        "success":    $brand-green,
        "info":       $brand-blue-100,
        "warning":    $brand-orange,
        "danger":     $brand-red,
        "light":      $brand-gray-100,
        "dark":       $brand-primary
    ),
    $brand-colors
);