div(class="content")
    div(class="contact-profile")
        img
        p
    div(class="messages")
        ul
    div(class="message-input")
        div(class="wrap")
        input(type="text" placeholder="Write your message...")
        i(class="fa fa-paperclip attachment" aria-hidden="true")
        button(class="submit")
            i(class="fa fa-paper-plane" aria-hidden="true")
