<div class='login'>
    <h2>Register</h2>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <input name='firstname' placeholder='Firstname' type='text'>
                <input name='lastname' placeholder='Lastname' type='text'>
            </div>
            <div class="col-sm">
                <textarea rows=5 name='mnemonic' placeholder='Enter passphrase'></textarea>
            </div>
            <div class="col-sm">
                <div class="input-file-container">
                    <input class="input-file" id="my-file" type="file">
                    <label tabindex="0" for="my-file" class="input-file-trigger">Select a file...</label>
                </div>
                <p class="file-return"></p>
            </div>
        </div>
    </div>
    <div class="down_block">
        <div class='agree'>
            <input id='agree' name='agree' type='checkbox'>
            <label class for='agree'></label>Accept rules and conditions
        </div>
        <input class='animated' type='submit' value='Generate passphrase'>
        <input class='animated' type='submit' value='Register'>
        <a class='forgot' href='#'>Already have an account?</a>
    </div>
</div>
