div
    form(id='profile_form')
        label firstname
            input(name='firstname')
        br
        label lastname
            input(name='lastname')
        br
        label avatar
            input(type='file' name='avatar')
        input(type='submit')
