
#messaging_block_content .content {
    float: right;
    width: 60%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
@media screen and (max-width: 735px) {
    #messaging_block_content .content {
        width: calc(100% - 58px);
        min-width: 300px !important;
    }
}
@media screen and (min-width: 900px) {
    #messaging_block_content .content {
        width: calc(100% - 340px);
    }
}
#messaging_block_content .content .contact-profile {
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: #f5f5f5;
}
#messaging_block_content .content .contact-profile img {
    width: 40px;
    border-radius: 50%;
    float: left;
    margin: 9px 12px 0 9px;
}
#messaging_block_content .content .contact-profile p {
    float: left;
}
#messaging_block_content .content .contact-profile .social-media {
    float: right;
}
#messaging_block_content .content .contact-profile .social-media i {
    margin-left: 14px;
    cursor: pointer;
}
#messaging_block_content .content .contact-profile .social-media i:nth-last-child(1) {
    margin-right: 20px;
}
#messaging_block_content .content .contact-profile .social-media i:hover {
    color: #435f7a;
}
#messaging_block_content .content .messages {
    height: auto;
    min-height: calc(100% - 93px);
    max-height: calc(100% - 93px);
    overflow-y: scroll;
    overflow-x: hidden;
}
@media screen and (max-width: 735px) {
    #messaging_block_content .content .messages {
        max-height: calc(100% - 105px);
    }
}
#messaging_block_content .content .messages::-webkit-scrollbar {
    width: 8px;
    background: transparent;
}
#messaging_block_content .content .messages::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
}
#messaging_block_content .content .messages ul li {
    display: inline-block;
    clear: both;
    float: left;
    margin: 15px 15px 5px 15px;
    width: calc(100% - 25px);
    font-size: 0.9em;
}
#messaging_block_content .content .messages ul li:nth-last-child(1) {
    margin-bottom: 20px;
}
#messaging_block_content .content .messages ul li.sent img {
    margin: 6px 8px 0 0;
}
#messaging_block_content .content .messages ul li.sent p {
    background: #435f7a;
    color: #f5f5f5;
}
#messaging_block_content .content .messages ul li.replies img {
    float: right;
    margin: 6px 0 0 8px;
}
#messaging_block_content .content .messages ul li.replies p {
    background: #f5f5f5;
    float: right;
}
#messaging_block_content .content .messages ul li img {
    width: 22px;
    border-radius: 50%;
    float: left;
}
#messaging_block_content .content .messages ul li p {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 205px;
    line-height: 130%;
}
@media screen and (min-width: 735px) {
    #messaging_block_content .content .messages ul li p {
        max-width: 300px;
    }
}
#messaging_block_content .content .message-input {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 99;
}
#messaging_block_content .content .message-input .wrap {
    position: relative;
}
#messaging_block_content .content .message-input .wrap input {
    font-family: "proxima-nova",  "Source Sans Pro", sans-serif;
    float: left;
    border: none;
    width: calc(100% - 90px);
    padding: 11px 32px 10px 8px;
    font-size: 0.8em;
    color: #32465a;
}
@media screen and (max-width: 735px) {
    #messaging_block_content .content .message-input .wrap input {
        padding: 15px 32px 16px 8px;
    }
}
#messaging_block_content .content .message-input .wrap input:focus {
    outline: none;
}
#messaging_block_content .content .message-input .wrap .attachment {
    position: absolute;
    right: 60px;
    z-index: 4;
    margin-top: 10px;
    font-size: 1.1em;
    color: #435f7a;
    opacity: .5;
    cursor: pointer;
}
@media screen and (max-width: 735px) {
    #messaging_block_content .content .message-input .wrap .attachment {
        margin-top: 17px;
        right: 65px;
    }
}
#messaging_block_content .content .message-input .wrap .attachment:hover {
    opacity: 1;
}
#messaging_block_content .content .message-input .wrap button {
    float: right;
    border: none;
    width: 50px;
    padding: 12px 0;
    cursor: pointer;
    background: #32465a;
    color: #f5f5f5;
}
@media screen and (max-width: 735px) {
    #messaging_block_content .content .message-input .wrap button {
        padding: 16px 0;
    }
}
#messaging_block_content .content .message-input .wrap button:hover {
    background: #435f7a;
}
#messaging_block_content .content .message-input .wrap button:focus {
    outline: none;
}
