li(class=mine?"outMessage":"inMessage")


    img(src = sender_avatar width = 44 height = 44)
    p  #{text}
        //br
        span #{time}
        //.loader
        //    .dot.dot1
        //        |
        //        .dot.dot2
        //        |
        //        .dot.dot3
        //        |
        //        .dot.dot4
