//style
//    include messagingblock.css
div#messaging_block.messaging_block(data-msgs-window="")
    div(style='display: flex; justify-content: center; align-items: center; height: 100%; flex-direction: column;')
        //img(src='components/main/messagingblock/img/ufo.svg' height='220px')
        h5(style='color:white; border-radius: 50px; font-size: 15px; font-family:"Roboto"; padding: 2px 12px; background-color: rgba(0, 0, 0, 0.3);') please select a chat to start messaging
    //include qqq.pug
