//style
//    include messagingblock.css
div#messaging_block.messaging_block.messaging_block_lg(data-msgs-window="")
    div(style='display: flex; justify-content: center; align-items: center; height: 100%; flex-direction: column;')
        img(src='components/main/messagingblock/img/ufo.svg' height='220px')
        h5(style='margin-top: 10px; font-size: 15px; font-family:"Roboto";') please select a chat to start messaging
    //include qqq.pug
